

body{
    overflow: hidden;
  }
  
  .glassmorphism1 {
    border-radius: 20px;
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 10%;
    left: 15%;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: black;
    overflow: hidden;
  }
  .glassmorphism2 {
    border-radius: 20px;
    width: 25%;
    height: 500px;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    float: left;
  
  }
  .background{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(73.71deg, #41CBD9 8.77%, #41D992 91.64%);
   
  }
  
  .background-circle {
    background: linear-gradient(180deg, #4ABAF8 0%, #41D5AA 100%);
    filter: blur(150px);
    transform: rotate(-9.33deg);
  
  }
  
  .background-circle-1 {
    position: absolute;
    width: 1002.87px;
    height: 1002.87px;
    left: 1119px;
    top: -334.44px;
    
  
  }
  
  .background-circle-2 {
    position: absolute;
    width: 621px;
    height: 621px;
    left: 54px;
    top: -187px;
  }
  
  .background-circle-2 {
    position: absolute;
    width: 379px;
    height: 379px;
    left: 485px;
    top: 857px;
  }
  
  .sub-content{
    margin-left: 10;
    width: 74%;
    height: 500px;
    position: relative;
    float: left ;
  }
  .sub-content1{
    width:70%;
    height: 150px;
    position: absolute;
    top: 60px;
    left: 130px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }
  .sub-content2{
    width:70%;
    height: 150px;
    position: absolute;
    bottom: 60px;
    left: 130px;
    background-color: white;
    border-radius: 10px;overflow: hidden;
  }
  .main-menu{
    height: 30%;
    width: 100%;
    float: left;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 30px;
  }
  .button-modal-retrieval{
    height: 30%;
    width: 100%;
    float: left;
    margin-top: 50px;
    padding-top: 60px;
    padding-left: 60px;
  }
  .button-modal{
    height: 30%;
    width: 100%;
    float: left;
  }
  