
.btn-button{
    border-radius: 50px !important;
    background-color: transparent !important;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    float: left;
    border: 3px solid white !important;
}
.text-title-button{
    width: 100px;
   text-align: center;
   margin-left: 50px; 
   float: left;
}
.text-button{
    position: relative;
    top: -45px;
    font-size: 100px;
}
.modal-content{
    left: -30px;
    border-radius: 20px !important;
}
.main-modal{
    background: linear-gradient(73.71deg, #41CBD9 8.77%, #41D992 91.64%);
    width: 50vw;
    height: 94vh;
}

.btn-inmodal{
    border-radius: 105px !important;
    background-color: transparent !important;
    padding: 210px 0 0 0;
    margin-top: 150px;
    display: inline-block;
    margin-left: 200px;
    width: 250px;
    height: 210px;  
    overflow: hidden;
    border: 10px solid white !important;
    background: url('https://img.icons8.com/officel/2x/add-image.png') center center no-repeat #e4e4e4;
}
.content-1{
    margin-left: 6px;
    width: 49%;
    height: 98%;
    float: left;
    overflow: hidden;
}
.content-2{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 38px;
    width: 40%;
    height: 70%;
    float: left;
}
.modal-footer{
    width: 50vw;
    background-color: transparent !important;
}
.imgpre{
    width: 100%;
    height: 100%;
}
.load-1{
    width:80%;
    height: 150px;
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    float: left;

}
.load-2{
    width:80%;
    height: 150px;
    position: absolute;
    bottom: 180px;
    right: 30px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

}
.btn-md2{
    width: 100px;
    position: absolute;
    bottom: 80px;
    right: 30px;
    border-radius: 10px;
    color: #41D992;
}
.avt{
    width: 20%;
    height: 100px;
    background-color: gray;
    border-radius: 10px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.progress-1{
    width: 70%;
    margin-top: 20px;
    margin-left: 20px;
    height: 100px;
    float: left;

}